{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}

<section class="resume-section p-3 p-lg-5 d-flex flex-column">
    <div class="my-auto">
        <h2 class="mb-5">{{ page.title }}</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                {% include_block page.body %}
                <h5>Created: {{page.created_date}} | Revised: {{page.revision_date}}</h5>
            </div>
        </div>
        <h4><a href="{{ page.get_parent.url }}">Return to blog</a></h4>
    </div>
</section>

{% endblock %}
