{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#about">
        <span class="d-block d-lg-none">William Blackie</span>
        <span class="d-none d-lg-block">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#awards">Awards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#LanguagesAndTools">Languages and Tools</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#interests">Interests</a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/blog">Blog</a>
            </li>
        </ul>
    </div>
</nav>

<section class="resume-section p-3 p-lg-5 d-flex flex-column">
    <div class="my-auto">
        <h2 class="mb-5">{{ page.title }}</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                {{ page.body|richtext }}
            <h5>Created: {{page.created_date}} | Revised: {{page.revision_date}}</h5>
            </div>
        </div>
        <h4><a href="{{ page.get_parent.url }}">Return to blog</a></h4>
    </div>
</section>

{% endblock %}
