{% load static wagtailuserbar wagtailimages_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- fonts -->
    <link href="{% static 'font/google-fonts-saira-extra.css' %}" rel="stylesheet">
    <link href="{% static 'font/google-fonts-open-sans.css' %}" rel="stylesheet">


    <!--icons -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/devicons/css/devicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- CSS-->
    <!-- Bootstrap core -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link type="text/css" href="{% static 'css/resume.css' %}" rel="stylesheet">
    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body>

{% include "nav_bar.html" %}

{% block content %}
{# Add main content in templates #}
{% endblock %}

{# Global javascript #}

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script type="text/javascript" src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- JS -->
<script type="text/javascript" src="{% static 'js/resume.min.js' %}"></script>
{% block extra_js %}
{# Override this in templates to add extra javascript #}
{% endblock %}

<footer class="py-3 bg-grey">
    <p class="m-0 text-dark text-center ">Copyright &copy; William Blackie</p>
</footer>

</body>
</html>
